.main {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: rgba(219, 219, 219, 0.433);
    min-height: 100vh; /* Чтобы было на всю высоту экрана. */
    flex-direction: column;
    gap: 16px;
    align-items: center;
}