.filter-block {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 12px;
    justify-content: center;
    gap: 12px;
}

.input {
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #fff;
    border: none;
}